<!DOCTYPE html>
<html lang="en">

<head>
    <title>블로그</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td><B>타이틀</B></td>
                    <td><B>내용</B></td>
                    <td><B>생성일자</B></td>
                    <td><B>수정일자</B></td>
                </tr>
            <tbody>
                {% for blog in blogs %}
                <tr>
                    <td>{{blog.title}}</td>
                    <td>{{blog.body}}</td>
                    <td>{{blog.created_at}}</td>
                    <td>{{blog.updated_at}}</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
</body>
